<c-carousel transition="slide" [interval]="5000">
  <c-carousel-indicators></c-carousel-indicators>
  <c-carousel-inner>
    <c-carousel-item *ngFor="let slide of slides">
      <img
        alt="{{ slide.title }}"
        class="d-block w-100"
        loading="lazy"
        src="{{ slide.src }}"
      />
      <c-carousel-caption class="d-none d-md-block">
        <h3>{{ slide.title }}</h3>
        <p>{{ slide.subtitle }}</p>
      </c-carousel-caption>
    </c-carousel-item>
  </c-carousel-inner>
  <c-carousel-control caption="Previous" direction="prev"></c-carousel-control>
  <c-carousel-control caption="Next" direction="next"></c-carousel-control>
</c-carousel>
