<div class="login-form">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="row">
      <div class="form-group">
        <input
          type="email"
          class="form-control p-4"
          placeholder="Email"
          formControlName="email"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <input
          type="password"
          class="form-control p-4"
          placeholder="Password"
          formControlName="password"
        />
      </div>
    </div>
    <div>
      <button class="btn btn-primary py-3 px-5" type="submit">Login</button>
    </div>
  </form>
</div>
