<div class="app-wrapper">
  <div class="nav-sticky">
    <nav
      class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5"
    >
      <a href="" class="navbar-brand">
        <h1 class="text-uppercase text-primary mb-1">Royal Cars</h1>
      </a>
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-between px-3"
        id="navbarCollapse"
      >
        <div class="navbar-nav ml-auto py-0">
          <a routerLink="/" routerLinkActive="active" class="nav-item nav-link"
            >Home</a
          >
          <a
            routerLink="/cars"
            routerLinkActive="active"
            class="nav-item nav-link"
            >Cars</a
          >
          <a
            routerLink="/contact"
            routerLinkActive="active"
            class="nav-item nav-link"
            >Contact</a
          >
          <ng-container *ngIf="user$ | async as user; else login">
            <a class="nav-item nav-link">
              {{ user.email }}
            </a>
            <a class="nav-item nav-link" routerLink="/logout"> Logout </a>
          </ng-container>
        </div>
      </div>
    </nav>
  </div>
  <!-- Navbar End -->

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #login>
  <a routerLink="/login" routerLinkActive="active" class="nav-item nav-link"
    >Login</a
  >
</ng-template>
